<div id="mainPivotControl" data-win-control="WinJS.UI.Pivot" data-win-options="{ title: 'Mail', selectedIndex: 0 }">

    <div class="listviewpivotitem" data-win-control="WinJS.UI.PivotItem" data-win-options="{ 'header': 'home' }">
       
        <div id="home-panel" class="panel-container" accesskey=""></div>

    </div>

    <div class="listviewpivotitem" data-win-control="WinJS.UI.PivotItem" data-win-options="{ 'header': 'settings', managedLV: true }">

        <div id="settings-panel" class="panel-container"></div>

    </div>

    <div class="listviewpivotitem" data-win-control="WinJS.UI.PivotItem" data-win-options="{ 'header': 'debug', managedLV: true }">

        <div id="debug-panel" class="panel-container"></div>

    </div>

    <div class="listviewpivotitem" data-win-control="WinJS.UI.PivotItem" data-win-options="{ 'header': 'about', managedLV: true }">

        <div id="about-panel" class="panel-container"></div>
    
    </div>

</div>

<div id="app-bar">
    <button id="app-bar-pin"></button>
</div>