<div class="panel">

    <div class="panel-align">

        <div class="panel-inner">

            <h1>About</h1>

            <p>
                Packets: v.0.0.6 (DEV, pre alpha)
            </p>

            <p>
                Data source: Wikipedia
            </p>

            <p>
                Geolocation source: Wikilocation
            </p>

            <p>
                Audio courtesy of <a href="http://freesfx.co.uk">FreeSFX</a>
            </p>

            <p>
                Powered by Backbone.js, Underscore.js, jQuery and WinJS
            </p>

            <p>
                API proxy via Mashape.com
            </p>

        </div>

    </div>

</div>