<div class="panel">

    <div class="panel-align">

        <div class="panel-inner">

            <h1>Debug application</h1>

            <div id="display-map">

                <p>Application inactive. No debug map data available.</p>

            </div>

            <h2>Debug logs</h2>
            <button id="copy-log">Select all</button>

            <textarea readonly id="display-log"><%= logs %></textarea>

            <button id="clear-log">Clear log</button>



        </div>

    </div>

</div>